<p id="notice"><%= notice %></p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<p>
  <strong>Comments:</strong>
  
</p>

<% @post.comments.each do |comment| %>
<% comment.content %>
<% end %><br><br>

<%= link_to 'Add comment', new_post_comment_path(@post) %><br>
<%= link_to 'Edit', edit_post_path(@post) %><br>
<%= link_to 'Back', posts_path %><br>
